<div class="main-section d-flex justify-content-center align-items-center bg-primary-light-color pt-5 pb-5">
  <!--Cards Area-->
  <div class="container d-flex justify-content-center flex-wrap gap-5 align-items-center">
    <!--Consumer Loan Card Area-->
    <div class="card one d-flex flex-row">
      <div class="details d-flex justify-content-center">
        <div class="p-3 d-flex flex-column align-items-center">
          <h5 class="text-white-color">İhtiyaç Kredisi</h5>
          <a href="#loan-section" class="button-primary mt-1">Hesapla</a>
        </div>
      </div>
    </div>
    <!--Main Card Area-->
    <div class="main-details p-4">
      <div class="w-100 d-flex flex-column align-items-center">
        <h1 class="text-white-color text-center m-0">Saatlerini Harcamadan Hesapla!</h1>
        <h5 class="text-light-gray-color text-center m-4">
          Şimdi BankSearch ile bankalarla ilgili aradığın her şeyi kolayca tek bir yerde
          bul, <br /> bankaların websitelerinde kaybolma!
        </h5>
        <div class="d-flex justify-content-center gap-3 mt-3">
          <a class="button-primary text-capitalize hover-cursor-default"><i class="fa fa-shield-halved fa-2x"></i><br />Güvenli</a>
          <a class="button-primary text-capitalize hover-cursor-default"><i class="fa fa-gauge-high fa-2x"></i><br />Hızlı</a>
          <a class="button-primary text-capitalize hover-cursor-default"><i class="fa fa-money-bill fa-2x"></i><br />Ücretsiz</a>
        </div>
      </div>
    </div>
    <!--Term Deposit Area-->
    <div class="card two d-flex flex-row">
      <div class="details d-flex justify-content-center">
        <div class="p-3 d-flex flex-column align-items-center">
          <h5 class="text-white-color">Vadeli Mevduat</h5>
          <a href="#deposit-section" class="button-primary mt-1">Hesapla</a>
        </div>
      </div>
    </div>
  </div>
</div>
