<div id="about-section" class="about d-flex justify-content-center align-items-center pt-5 pb-5">
  <div class="container text-white-color">
    <!--Title Area-->
    <div class="d-flex align-items-center text-primary-light-color">
      <h2><i class="me-2 fa fa-align-right"></i>Hakkımızda</h2>
    </div>

    <!--About Paragraph Area-->
    <div class="d-flex justify-content-center pt-4">
      <div class="main-card d-flex flex-row">
        <div class="details d-flex justify-content-center align-items-center">
          <div class="content">
            <h2 class="">BankSearch</h2>
            <h6 class="text-light-gray-color text-center mt-2 mb-3">
              BankSearch, bankacılık ürünleri karşılaştırma kategorisinde Türkiye’nin lider platformu olup 2022 yılından bu yana kullanıcılarına hizmet vermektedir.
              2’den fazla bankanın 10’a yakın teklifinin kolayca karşılaştırıldığı ve güvenle başvuru yapılabildiği BankSearch, kredinin yanı sıra kredi kartı ve
              mevduat gibi diğer bankacılık ürünlerinde de karşılaştırma ve başvuru yapma imkanı sağlamaktadır. <br />BankSearch, kullanıcılarının tüm finansal
              ihtiyaçlarına “Finansal Asistan” yaklaşımı ile cevap vererek bu vizyon doğrultusunda ürün yelpazesini genişletmeye devam etmektedir.
            </h6>
            <!--Icon Area-->
            <div class="d-flex justify-content-center gap-3 mt-3">
              <a class="text-center"><i class="fa fa-building fa-2x"></i><br />25+ Banka ve Finansal Kuruluş</a>
              <a class="text-center"><i class="fa fa-people-group fa-2x"></i><br />15+ Milyon Ziyaretçi</a>
              <a class="text-center"><i class="fa fa-user-check fa-2x"></i><br />Her 4 Kişiden 3’ünün Tercihi</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
